html {
    scroll-behavior: smooth;
}

body {
    background-image: url('images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    /*color: white;*/
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.labelaantal {
    font-size: 24px;
    font-weight: bold;
}

.inputaantal {
    font-size: 80px;
    font-weight: bold;
    width: 100px;
    margin: 0 auto;
    height: 100px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.dobbelcontainer {
    width: 110px;
    float: left;
}

.dobbel {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: white;
    font-size: 32px;
    font-weight: bold;
    float: left;
    border-radius: 10px;
}

.dot {
    width: 25px;
    height: 25px;
    margin: 4px;
    background-color: black;
    float: left;
    border-radius: 50%;
}

.nodot {
    width: 25px;
    height: 25px;
    margin: 4px;
    background-color: white;
    float: left;
    border-radius: 50%;
}

.table td,
.table th {
    padding: 0.25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.form-control {
    height: calc(1.5rem + 2px);
    padding: 0.375rem 0.25rem;
    /*font-size: 1rem;
    line-height: 1.5;*/
}

.px2 {
    height: 35px;
}

.card-opacity {
    background-color: rgba(255, 255, 255, 0.8)
}

table.table-bordered {
    border: 1px solid black;
    margin-top: 20px;
}

table.table-bordered>thead>tr>th {
    border: 1px solid black;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid black;
}