html {
    scroll-behavior: smooth;
}

body {
    background-image: url('images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    /*color: white;*/
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.labelaantal {
    font-size: 24px;
    font-weight: bold;
}

.inputaantal {
    font-size: 80px;
    font-weight: bold;
    width: 100px;
    margin: 0 auto;
    height: 100px;
}